p {
    color: darkgoldenrod;
    font-size: 20px;
}
h1 {
    color: darkblue;
    font-size: 20px;
}
h2 {
    color: darkslategrey;
    font-size: 20px;
}
h3 {
    color: darkblue;
    font-size: 20px;
}